.hero {
  background-image: url("../images/page/sfw-hero-bg.png");
  background-color: white;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero__banner-wrapper {
  position: absolute;
  bottom: 10%;
}

.hero__title {
  font-size: 1.375rem;
  font-weight: 700;
  background-color: var(--primary-color);
  padding-inline: 0.25em;
}

.hero__subtitle {
  font-weight: 500;
  background-color: var(--secondary-color);
  display: inline-block;
  padding-inline: 0.375em;
}

.hero__title,
.hero__subtitle {
  padding-block: 0.375em;
}

@media (min-width: 750px) {
  .hero {
    height: 40vh;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__subtitle {
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 3.25rem;
  }

  .hero__subtitle {
    font-size: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .hero {
    height: 80vh;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 1800px) {
  .hero {
    height: 85vh;
  }

  .hero__title {
    font-size: 4.25rem;
  }

  .hero__subtitle {
    font-size: 2.75rem;
  }
}
