.home {
  padding-inline: 1.25em;
}

.home__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home__title {
  text-transform: uppercase;
  color: var(--heading-text-color);
  font-size: 1.25rem;
  font-weight: 700;
  margin-block: 1em 0.75em;
  text-align: center;
}

.home__articles {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.home__articles > :nth-child(n + 5) {
  display: none;
}

.home__article {
  --min-article-height: 400px;

  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 1.25em 1em;
  padding-bottom: 3em;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: var(--min-article-height);
}

.home__article:hover,
.home__article:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  background-color: var(--primary-color-hover);
}

.home__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.home__img--program {
  width: 100%;
  max-width: 900px;
  cursor: pointer;
}

.home__subtitle,
.home__text {
  margin-inline: 0.5em;
}

.home__subtitle {
  margin-block: 0.875em;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.home__text {
  --max-lines: 5;

  line-height: 1.375;
  font-weight: 300;
  font-size: 0.875rem;
  display: -webkit-box;
  line-clamp: var(--max-lines);
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home__title--sponsor {
  font-size: 1.25rem;
  color: var(--heading-text-color);
  opacity: 0.4;
  margin-top: 1.5em;
  text-align: center;
  font-weight: 500;
}

.home__section--logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-block: 1em 4em;
  max-width: 800px;
  position: relative;
}

.home__section--logos img {
  width: 100px;
  object-fit: contain;
  cursor: default;
}

.home__section--logos,
.home__section--insta {
  margin-inline: auto;
}

.home__section--insta {
  max-width: 1300px;
}

.home__container--wheels {
  display: none;
}

@media (min-width: 600px) {
  .home__articles {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .home__article {
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .home__title {
    font-size: 1.25rem;
  }

  .home__title--sponsor {
    font-size: 1.5rem;
  }

  .home__articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .home__articles > :nth-child(n + 5) {
    display: block;
  }

  .home__articles > :nth-child(n + 7) {
    display: none;
  }

  .home__subtitle {
    font-size: 1rem;
  }

  .home__text {
    font-size: 1rem;
  }

  .home__section--logos {
    max-width: 1000px;
  }

  .home__section--logos img {
    width: 150px;
  }

  .home__container--wheels {
    display: initial;
  }

  .home__img--wheel {
    position: absolute;
    opacity: 0.3;
    z-index: -1;
  }

  .home__img--wheel.wheel1 {
    top: 10%;
    left: 5%;
  }

  .home__img--wheel.wheel2 {
    top: 50%;
    left: 0;
  }

  .home__img--wheel.wheel3 {
    top: 30%;
    right: 5%;
  }

  .home__img--wheel.wheel4 {
    top: 70%;
    right: 0;
  }

  .home__img--wheel.wheel5 {
    top: 18%;
    right: 20%;
  }

  .home__img--wheel.wheel6 {
    top: 80%;
    left: 20%;
  }

  .home__img--wheel.wheel7 {
    top: 40%;
    left: 15%;
  }

  .home__img--wheel.wheel8 {
    top: 80%;
    right: 15%;
  }
}

@media (min-width: 1280px) {
  .home {
    padding-inline: 3em;
  }

  .home__title {
    font-size: 1.75rem;
  }

  .home__title--sponsor {
    font-size: 1.75rem;
    margin-bottom: 1em;
  }

  .home__articles {
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .home__articles > :nth-child(n + 7) {
    display: block;
  }

  .home__articles > :nth-child(n + 9) {
    display: none;
  }

  .home__article {
    max-width: 400px;
  }

  .home__subtitle {
    font-size: 1.25rem;
  }

  .home__text {
    font-size: 1.125rem;
  }

  .home__section--logos {
    max-width: 1200px;
  }

  .home__section--logos img {
    width: 180px;
  }
}

@media (min-width: 1800px) {
  .home__articles {
    justify-items: center;
    gap: 2em;
    width: 90%;
    margin-inline: auto;
  }

  .home__title {
    font-size: 1.875rem;
  }

  .home__subtitle {
    font-size: 1.5rem;
  }

  .home__text {
    font-size: 1.25rem;
  }

  .home__article {
    max-width: 420px;
    padding-bottom: 4em;
  }

  .home__section--logos img {
    width: 200px;
  }

  .home__img--wheel {
    width: 150px;
  }

  .home__img--program {
    max-width: 1000px;
  }

  .home__section--insta {
    max-width: 75%;
  }
}
