main {
  margin-block: 2em;
  color: var(--article-text);
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}

.article__title {
  font-weight: 700;
  font-size: 2em;
}

.article__container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1em;
  width: 100%;
  color: var(--article-meta-text);
  font-size: 0.875em;
}

/* Figure */

.article__figure {
  width: 100%;
}

.article__image {
  margin-inline: auto;
  max-height: 750px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.article__image,
.article__container {
  width: 100%;
}

.article__caption {
  margin-top: 0.5em;
  font-size: 0.75rem;
  line-height: 1.3;
  color: var(--article-meta-text);
  text-align: center;
}

/* Info list styles */
.container .markdown__container--info-list {
  padding-left: 0;
  list-style-type: none;
}

.markdown__container--info-list li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (min-width: 768px) {
  main {
    margin-block: 3em;
  }

  .container {
    gap: 1.5em;
  }

  .article__title {
    font-size: 2.25rem;
  }

  .article__container {
    font-size: 1.125rem;
  }

  .article__caption {
    font-size: 0.875rem;
  }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
  .container {
    gap: 2em;
    width: 75%;
  }

  .article__title {
    font-size: 3rem;
  }

  .article__container {
    font-size: 1.25rem;
  }

  .article__caption {
    margin-top: 0.75em;
    font-size: 1rem;
  }
}

/* Large screens (1800px+) */
@media (min-width: 1800px) {
  .container {
    width: 65%;
  }

  .article__title {
    font-size: 3.5rem;
  }

  .article__container {
    font-size: 1.5rem;
  }
}
