<footer>
  <div class="footer__container">
    <div class="footer__container">
      <p>
        &copy; {{ now.Year }} Kepler-Gymnasium Schülerforschungswerkstatt -
        <a
          href="https://github.com/plesioo/SFW-Website/blob/master/LICENSE"
          title="View source code license"
          >MIT</a
        >
      </p>
      <a href="/privacy-policy">Datenschutz</a>
      <a href="/imprint">Impressum</a>
    </div>
    <div class="footer__container--socials">
      <a href="https://github.com/plesioo/SFW-Website">
        <img src="/images/logos/github-logo.svg" alt="Github Logo" />
      </a>
      <a href="https://www.instagram.com/sfwamkgw/">
        <img src="/images/logos/insta-logo.svg" alt="Instagram Logo" />
      </a>
    </div>
  </div>

  <p class="footer__text--author">
    Made by
    <a
      href="https://github.com/plesioo"
      class="footer__link underline"
      target="_blank"
      >Phillip Fleischer</a
    >,
    <br />
    designed with <span class="underline">Stefan Heidel</span>
  </p>
</footer>
