<header>
  <div class="logo__container">
    <img
      src="/images/logos/kepler-logo.svg"
      class="logo__image"
      alt="Kepler Gymnasium Logo"
    />
    <h1 class="logo__title">SFW</h1>
    <a class="overlay__link" href="/" aria-label="Zur Startseite"></a>
  </div>
  <label class="hamburger__menu-btn" id="hamburger-menu-btn">
    <input type="checkbox" id="checkbox" />
  </label>
  <nav class="hamburger__menu" id="hamburger-menu">
    <ul class="hamburger__links">
      <li><a href="/#workshops">Workshops</a></li>
      <li><a href="/#courses">Wahlkurse</a></li>
      <!-- <li><a href="/#sfw-day">SFW Tag</a></li> -->
      <li><a href="/#program">Programm</a></li>
    </ul>
  </nav>
</header>
