<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/hero.css" />
    <link rel="stylesheet" href="./styles/home.css" />
    <link rel="stylesheet" href="./styles/image-viewer.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fo nts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo__container">
        <img
          src="./images/kepler-icon.svg"
          class="logo__image"
          alt="Schülerforschungswerks Logo"
        />
        <h1 class="logo__title">SFW</h1>
        <a class="overlay__link" href="/" aria-label="Zur Startseite"></a>
      </div>
      <label class="hamburger__menu-btn" id="hamburger-menu-btn">
        <input type="checkbox" id="checkbox" />
      </label>
      <nav class="hamburger__menu" id="hamburger-menu">
        <ul class="hamburger__links">
          <li><a href="/">Homepage</a></li>
          <li><a href="/workshops">Workshops</a></li>
          <li><a href="/wahlkurse">Wahlkurse</a></li>
          <li><a href="/sfw-tag">SFW Tag</a></li>
          <li><a href="#program">Programm</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero__banner-wrapper">
          <h2 class="hero__title">Schülerforschungswerkstatt</h2>
          <h3 class="hero__subtitle">Kepler Gymnasium Weiden</h3>
        </div>
      </section>
      <div class="home">
        <section>
          <h2 class="home__title">Workshops</h2>
          <article class="home__article">
            <a class="overlay__link" href="/workshops"></a>
            <img src="./images/workshop.jpg" alt="Workshop" class="home__img" />
            <h3 class="home__subtitle">Workshop 2024</h3>
            <p class="home__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure
            </p>
          </article>
        </section>
        <section>
          <h2 class="home__title">Wahlkurse</h2>
          <article class="home__article">
            <a class="overlay__link" href="/wahlkurse"></a>
            <img src="./images/course.jpg" alt="Wahlkurs" class="home__img" />
            <h3 class="home__subtitle">Wahlkurs 2024</h3>
            <p class="home__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure
            </p>
          </article>
        </section>
        <section id="program">
          <h2 class="home__title">Unser Programm</h2>
          <img
            src="./images/sfw-program.jpg"
            alt="Programm"
            class="home__img-program"
            id="image-viewer-trigger"
            tabindex="0"
          />
        </section>
        <div
          class="image-viewer"
          id="image-viewer"
          tabindex="-1"
          aria-modal="true"
          role="dialog"
        >
          <div class="image-viewer__overlay" id="image-viewer-overlay"></div>
          <div class="image-viewer__container">
            <img
              src="./images/sfw-program.jpg"
              alt="Programm"
              class="image-viewer__img"
              id="image-viewer-img"
            />
          </div>
          <button
            class="image-viewer__close"
            id="image-viewer-close"
            aria-label="Programm schließen"
          >
            &times;
          </button>
        </div>
      </div>
    </main>
    {{ $imageViewerJS := resources.Get "js/image-viewer.js" | minify |
    fingerprint }}
    <script
      src="{{ $imageViewerJS.RelPermalink }}"
      integrity="{{ $imageViewerJS.Data.Integrity }}"
    ></script>
    {{ $indexJS := resources.Get "js/index.js" | minify | fingerprint }}
    <script
      src="{{ $indexJS.RelPermalink }}"
      integrity="{{ $indexJS.Data.Integrity }}"
    ></script>
  </body>
</html>
