<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SFW - Home</title>
    <link
      href="./images/kepler-favicon.png"
      rel="icon"
      type="image/vnd.microsoft.icon"
    />
    <!-- Stylesheets -->
    {{- $mainCss := resources.Get "css/main.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $mainCss.RelPermalink }}" integrity="{{ $mainCss.Data.Integrity }}" />
    {{- $headerCss := resources.Get "css/header.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $headerCss.RelPermalink }}" integrity="{{ $headerCss.Data.Integrity }}" />
    {{- $footerCss := resources.Get "css/footer.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $footerCss.RelPermalink }}" integrity="{{ $footerCss.Data.Integrity }}" />
    {{- $heroCss := resources.Get "css/hero.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $heroCss.RelPermalink }}" integrity="{{ $heroCss.Data.Integrity }}" />
    {{- $homeCss := resources.Get "css/home.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $homeCss.RelPermalink }}" integrity="{{ $homeCss.Data.Integrity }}" />
    {{- $imageViewerCss := resources.Get "css/image-viewer.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $imageViewerCss.RelPermalink }}" integrity="{{ $imageViewerCss.Data.Integrity }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fo nts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo__container">
        <img
          src="./images/kepler-logo.svg"
          class="logo__image"
          alt="Kepler Gymnasium Logo"
        />
        <h1 class="logo__title">SFW</h1>
        <a class="overlay__link" href="/" aria-label="Zur Startseite"></a>
      </div>
      <label class="hamburger__menu-btn" id="hamburger-menu-btn">
        <input type="checkbox" id="checkbox" />
      </label>
      <nav class="hamburger__menu" id="hamburger-menu">
        <ul class="hamburger__links">
          <!-- <li><a href="/">Homepage</a></li> -->
          <li><a href="#workshops">Workshops</a></li>
          <li><a href="#courses">Wahlkurse</a></li>
          <li><a href="#sfw-day">SFW Tag</a></li>
          <li><a href="#program">Programm</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero__banner-wrapper">
          <h2 class="hero__title">Schülerforschungswerkstatt</h2>
          <h3 class="hero__subtitle">Kepler Gymnasium Weiden</h3>
        </div>
      </section>
      <div class="home">
        <section id="workshops">
          <h2 class="home__title">Workshops</h2>
          <div class="home__articles">
            {{ with .Site.GetPage "workshop" }}
              {{ range .Pages }}
            <article class="home__article">
                  <a class="overlay__link" href="{{ .RelPermalink }}"></a>
                  <img src="{{ .Params.image }}" alt="Workshop {{ .Title }}" class="home__img" />
                  <h3 class="home__subtitle">{{ .Title }}</h3>
              <p class="home__text">
                  <!-- Only display the first paragraph -->
                  {{ with findRE "<p>(.*?)</p>" .Content 1 }}
                    {{ index . 0 | replaceRE "^<p>|</p>$" "" | safeHTML }}
                  {{ end }}
              </p>
            </article>
              {{ end }}
            {{ end }}
          </div>
        </section>
        <section id="courses">
          <h2 class="home__title">Wahlkurse</h2>
          <div class="home__articles">
{{ with .Site.GetPage "course" }}
              {{ range .Pages }}
            <article class="home__article">
              <a class="overlay__link" href="{{ .RelPermalink }}"></a>
              <img src="{{ .Params.image }}" alt="Wahlkurs {{ .Title }}" class="home__img" />
              <h3 class="home__subtitle">{{ .Title }}</h3>
              <p class="home__text">
                <!-- Only display the first paragraph -->
                  {{ with findRE "<p>(.*?)</p>" .Content 1 }}
                    {{ index . 0 | replaceRE "^<p>|</p>$" "" | safeHTML }}
                  {{ end }}
              </p>
            </article>
            {{ end }}
            {{ end }}
          </div>
        </section>
        <section id="program" class="home__section">
          <div class="home__container--wheels">
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel1"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel2"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel3"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel4"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel5"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel6"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel7"
              alt=""
              aria-hidden="true"
            />
            <img
              src="./images/page/gear.svg"
              class="home__img--wheel wheel8"
              alt=""
              aria-hidden="true"
            />
          </div>
          <h2 class="home__title">Unser Programm</h2>
          <img
            src="./images/page/sfw-program.jpg"
            alt="Programm"
            class="home__img--program"
            id="image-viewer-trigger"
            tabindex="0"
          />
        </section>
        <div
          class="image-viewer"
          id="image-viewer"
          tabindex="-1"
          aria-modal="true"
          role="dialog"
        >
          <div class="image-viewer__overlay" id="image-viewer-overlay"></div>
          <div class="image-viewer__container">
            <img
              src="./images/page/sfw-program.jpg"
              alt="Programm"
              class="image-viewer__img"
              id="image-viewer-img"
            />
          </div>
          <button
            class="image-viewer__close"
            id="image-viewer-close"
            aria-label="Programm schließen"
          >
            &times;
          </button>
        </div>
        <h2 class="home__title--sponsor">Unterstützt von:</h2>
        <section class="home__section--logos">
          <img
            src="./images/logos/gebhardt-logo.svg"
            alt="Gebhardt Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/hoehbauer-logo.svg"
            alt="Höhbauer Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/jugend-forscht-logo.svg"
            alt="Jugend forscht Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/nexans-logo.svg"
            alt="Nexans Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/novem-logo.svg"
            alt="Novem Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/oth-logo.svg"
            alt="OTH Weiden Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/tiki-logo.svg"
            alt="Tiki Logo"
            class="home__img--program"
          />
          <img
            src="./images/logos/uebzo-logo.svg"
            alt="ÜBZO Logo"
            class="home__img--program"
          />
        </section>
        <h2 class="home__title">Folge uns auf Instagram:</h2>
        <section class="home__section--insta">
          <script
            src="https://cdn.commoninja.com/sdk/latest/commonninja.js"
            defer
          ></script>
          <div
            class="commonninja_component pid-85aba765-8fae-4ca9-9d33-fa1ae3363392"
          ></div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer__container">
        <div class="footer__container">
          <p>
            &copy; 2025 Kepler-Gymnasium Schülerforschungswerkstatt -
            <a
              href="https://github.com/plesioo/SFW-Website/blob/master/LICENSE"
              title="View source code license"
              >MIT</a
            >
          </p>
          <a>Datenschutz</a>
          <a>Impressum</a>
        </div>
        <div class="footer__container--socials">
          <a href="https://github.com/plesioo/SFW-Website">
            <img src="./images/github-logo.svg" alt="Github Logo" />
          </a>
          <a href="https://www.instagram.com/sfwamkgw/">
            <img src="./images/insta-logo.svg" alt="Instagram Logo" />
          </a>
        </div>
      </div>

      <p class="footer__text--author">
        Made by
        <a href="https://github.com/plesioo" class="footer__link underline"
          >Phillip Fleischer</a
        >,
        <br />
        designed with <span class="underline">Stefan Heidel</span>
      </p>
    </footer>
    {{ $imageViewerJS := resources.Get "js/image-viewer.js" | minify |
    fingerprint }}
    <script
      src="{{ $imageViewerJS.RelPermalink }}"
      integrity="{{ $imageViewerJS.Data.Integrity }}"
    ></script>
    {{ $indexJS := resources.Get "js/index.js" | minify | fingerprint }}
    <script
      src="{{ $indexJS.RelPermalink }}"
      integrity="{{ $indexJS.Data.Integrity }}"
    ></script>
  </body>
</html>
